

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ASP.NET Web API!</h1>
                <h2>Modify the code in this template to jump-start your ASP.NET Web API development.</h2>
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            <p>
                To learn more about ASP.NET Web API visit the
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">ASP.NET Web API Website</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web API.
                If you have any questions about ASP.NET Web API, visit
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API Forum">our forums</a>.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <ul>
            <li>
                <a href="#">Home</a> 
            </li>
            <li>
                <a href="#/alboms">Alboms</a> 
            </li>
            <li>
               <a href="#/about">About</a> 
            </li>
        </ul>
        <div class="page"></div>
    </section>
</div>

<script type="text/html" id="template-home">
    <h2>Home</h2>
</script>

<script type="text/html" id="template-about">
    <h2>About</h2>
    <div>
        <%=about.get('Text')%> 
    </div> 
    <a href="#/about/edit">Edit</a>
</script>

<script type="text/html" id="template-alboms"> 
    <h2>Alboms</h2>
    <div>
        <%_.each(alboms, function(albom){%>
        <div class="albomBox" albomId ="<%=albom.get('Id')%>">
            <img width="140" src="<%=albom.get('Preview')%>" />
            <div><%=albom.get('Name')%></div> 
        </div>
        <%})%>
    </div> 
</script>

<script type="text/html" id="template-albom"> 
    <h2>Albom</h2>
    <img width="140" src="<%=albom.get('Preview')%>" />
    <label>Name</label> 
    <label><%=about.get('Name')%></label> 
    <label>Description</label> 
    <label><%=about.get('Description')%></label>     
</script>

<script type="text/html" id="template-editAlbom"> 
    <h2>Edit Albom</h2>
    <form class="editAlbomForm"> 
        <label>Name</label>
        <input type="text" name="Text" value="<%=about.get('Name')%>"/>

        <label>Description</label>
        <input type="text" name="Text" value="<%=about.get('Description')%>"/> 

        <button type="submit" class="saveAbout">Save</button>
    </form>
</script>

<script type="text/html" id="template-editAbout">
    <form class="editAboutForm">
        <input type="text" name="Text" multiple="true" height="200" value="<%=about.get('Text')%>"/>
        <button type="submit" class="saveAbout">Save</button>
    </form>
</script>

